@font-face {
 font-family: "Calibri";
 src: url("../fonts/Calibri.ttf") format("ttf");
}
html{
    /* cursor: none; */
}
body {
  background-color: #70c049;
  margin: 0;
}
footer {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  overflow: hidden;
}
input:focus
{
  outline-style: none;
}
button:focus
{
  outline-style: none;
}
#logoVNF
{
  width: 130px;
  height: 70px;
  display: inline-block;
}
#header_H1
{
  display: inline-block;
  margin-bottom: 0;
  margin-left: 4.5em;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.infoString
{
  margin-top: 2em;
  color: white;
  text-align: center;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  white-space: pre;
}

/* Main Window */
#mainContent
{
  height: 100%;
  position: absolute;
  top: -2em;
  width: 100%;
}
#borneContent
{
  position: absolute;
  top: -3em;
}
#shipOwnerContent
{
  position: absolute;
  top: 19em;
  left: 7em;
  text-align: center;
}
#shipOwnerContent > h1
{

  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#idleString
{
  position: absolute;
  top: 11em;
  font-size: 2em;
  left: 3.5em;
  text-align: center;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#explication
{
  position: absolute;
  top: 39em;
  left: 4.5em;
  width: 33em;
  z-index: 1;
}
#explication > fieldset
{
  border: none;
}
#explication > fieldset > label
{
  margin-right: 1.5em;
  color: #2d55a4;
  font-size: 18px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#slogan
{
  position: relative;
  margin-left:10%;
  margin-top:5%;
  width:75%;
  height:auto;
}

/* IDLinks */
#firstHorLink
{
  top: 23em;
  left: 6em;
}
#secondHorLink
{
  top: 35em;
  left: 9.1em;
  width: 2.9em;
}
#thirdHorLink
{
  top: 23em;
  left: 26.1em;
}
#fourthHorLink
{
  top: 35em;
  left: 23em;
}
#firstVertLink
{
  top: 22em;
  left: 6em;
}
#secondVertLink
{
  top: 22em;
  left: 32em;
}
#thirdVertLink
{
  top: 23em;
  left: 6em;
}
#fourthVertLink
{
  top: 23em;
  left: 32em;
}

/* ID Circles */
#firstCircle
{
  top: 15.9em;
  left: 3em;
}
#secondCircle
{
  top: 24em;
  left: 3em;
}
#thirdCircle
{
  top: 15.9em;
  left: 29em;
}
#fourthCircle
{
  top: 24em;
  left: 29em;
}
#fifthCircle
{
  top: 32em;
  left: 29em;
}
#sixthCircle
{
  top: 32em;
  left: 3em;
}

/* Power Icons ID */
#firstBolt
{
  top: 13em;
  left: 5em;
}
#secondBolt
{
  top: 13em;
  left: 31em;
}

/* Electrical Outlet */
#firstType2
{
  top: 1em;
  left: 1em;
}
#secondType2
{
  top: 1em;
  left: 1em;
}


/* Validation div for main screen */
.valButton
{
  position: absolute;
  border: 2px solid white;
  background-color: transparent;
  top: 44em;
  left: 12em;
  border-radius: 50px;
  width: 14em;
  height: 4em;
  color: white;
  visibility: hidden;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#validationString
{
  position: absolute;
  top: 1em;
  left: 2em;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#validationStringRecap
{
  position: absolute;
  top: 1em;
  left: 2em;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#validationCheckMark
{
  position: absolute;
  width: 2em;
  height: 2em;
  left: 6em;
}

/* Authentification Window */
#authentificationPossibilities
{
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 150px;
  box-shadow: 0 0 2px white;
  border: 1px solid white;
  top: 10em;
  left: 10.6em;
  background-color: white;
}

/* Authentification Icons */
#rfid_tag
{
  position: absolute;
  width: 7em;
  height: 7em;
  top: 2em;
  left: 1em;
  transform: rotate(328deg);

}
#CC_Terminal
{
  position: absolute;
  width: 5em;
  height: 6em;
  top: 4em;
  left: 8.5em;
}
#credit_card
{
  position: absolute;
  width: 5em;
  height: 3em;
  top: 9em;
  left: 2.5em;
  transform: rotate(16deg);
}

/* Authentification KeyBoard */
#authKeyBoard
{
  position: absolute;
  top: 29em;
  left: 12em;
  width: 13em;
  /* cursor: none; */
}

#authInfoString
{
  position: absolute;
  top: 14.8em;
  left: 11.2em;
}

#waitingBoats
{
  position: absolute;
  top: 19.5em;
  left: 13em;
  width: 12em;
}

/* Reacapitulative window */
#recapitulativContent
{
  position: absolute;
  top: -6em;
  left: -1em;
}
#recapInfoString
{
  position: absolute;
  left: 4em;
  top: 18.8em;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  width: 12em;
  text-shadow:0 0 15px #000;
}
#waterDeliveryButtons
{
  position: absolute;
  left: 7.65em;
  top: 42em;
  width: 25em;
}
#onWater
{
  background-color: #2d55a4;
  margin-left: 2.75em
}
#offWater
{
  background-color: #be0d4f;
  margin-left: 2.75em
}
#stopWater
{
  background-color: #2d55a4;
  width: 8em;
  height: 3em;
  font-size: 2em;
}
#stopElectricity
{
  background-color: #be0d4f;
  width: 8em;
  height: 3em;
  font-size: 2em;
}
#waterDeliveryInfoString
{
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 0.2em;
  width: 23em;
  top: 26.5em;
  left: 1.5em;
  text-shadow: 0 0 15px #000;
  position: absolute;
  text-align: center;
}
#radialTimer
{
  position: absolute;
  top: 31.5em;
  left: 15.5em;
  z-index: 1;
}
#abort
{
  position: absolute;
  top: 48em;
  left: 10em;
  width: 13em;
  background-color: transparent;
  margin-top: 0.3em;
  margin-left: 2.75em;
}
#labTimer
{
  bottom: -2.3em;
  text-shadow: none;
  position: absolute;
  left: 0.5em;
  color: black;
  /* text-shadow: 1px 1px 0 #000; */
}
#validateTransactionButton
{
  position: absolute;
  top: 46.5em;
  left: 12em;
}
#currentCode
{
  margin-top: 3.2em;
  text-align: center;
  font-size: 2em;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#currentCodeAdmin
{
  margin-top: 3.2em;
  text-align: center;
  font-size: 2em;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
#backWardArrow
{
  margin-right: 0.1em;
  filter: invert(100%);
  width: 3em;
  /* cursor: none; */
}
#doorCircle
{
  position: absolute;
  top: 21em;
  left: 7em;
}
#doorLock
{
  position: absolute;
  top: 1em;
  left: 1em;
  filter: invert(100%);
}
#endingCircle
{
  position: absolute;
  top: 21em;
  left: 23em;
}
#endingAll
{
  position: absolute;
  top: 1em;
  left: 1em;
  filter: invert(100%);
}
#actionButtons
{
  position: absolute;
  top: 30em;
  left: 23em;
  display: flex;
  flex-direction: column;
}
#modifyingTransButton
{
  position: absolute;
  top: 6.2em;
  left: 7em;
  border-radius: 10px;
  border: 2px solid white;
  width: 5em;
  height: 2em;
  background-color: #0abfef;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 2em;
}
#modifyingDeliveryButtons
{
  position: absolute;
  top: 10em;
  width: 100%;
  text-align: center;
}
#returnHome
{
  position: absolute;
  top: 1em;
  left: 1em;
}
#homeCircle
{
  position: absolute;
  top: 36em;
  left: 15em;
}
#modifyingInfoString
{
  color: white;
}
#quitTransaction
{
  position: absolute;
  top: 27em;
  left: 11em;
  background-color: #2d55a4;
  width: 15em;

}
#abortModifying
{
  position: absolute;
  top: 30em;
  left: 15em;
  background-color: transparent;
}
.ui-progressbar {
  position: relative;
}
.progress-label {
  position: absolute;
  left: 9.5em;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  color: white;
}
.infoAdmin
{
  position: absolute;
  top: -4.3em;
  width: 8em;
  left: -1em;
  font-size: 1em;
  text-align: center;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
.header_separator
{
  height: 3px;
  background-color: white;
  border: none;
  margin-right: 14em;
  margin-top: 4em;
}

.header_flag
{
  width: 2.5em;
  height: 2.5em;
  display: inline-block;
  margin-bottom: 1.3em;
  position: absolute;
}
#languageSelector
{
    margin-left: 34em;
    margin-top: -4em;
}
#ukFlag
{
  top: 4em;
}
#germanFlag
{
  top: 7em;
}
#spanishFlag
{
  top: 10em;
}
#downArrow
{
  position: absolute;
  left: 32.5em;
  top: 2em;
}
.header_arrow
{
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.backGroundDiv
{
  background-color: #0abfef;
  height: 0em;
  position: absolute;
  top: 1em;
  left: 33.5em;
  z-index: -1;
  border-radius: 17px;
  opacity: 0.8;
  transition: all 0.5s linear;
}
.show
{
  width: 3.3em;
  height: 12.5em;
  top: 0.5em;
}
.hideShow
{
  height: 0em;
  top: 1em;
}
.elipse
{
  position: absolute;
  top: 29em;
  left: 1em;
  width: 35em;
  height: 21em;
  opacity: 0.5;
  background-color: #fff;
  clip-path: ellipse(48% 14% at 51% 50%);
}
.explicationButton
{
 width: 2em;
 height: 2em;
 padding: 0.5em;
 margin-left: 0.5em;
 border-radius: 100%;
 box-shadow: none;
 border: 2px solid white;
 /* cursor: none; */
}
.available
{
  background-color: #65b442;
}
.charging
{
  background-color: #0abfef;
}
.unavailable
{
  background-color: #e4010b;
}
.baseBorne
{
  position:absolute;
  top: 17.5em;
  left: 12em;
  width: 14em;
  height: 21em;
  background-color: white;
  clip-path: inset(-14% 0% 0% 0%);
  border: 0.2em solid #2c92a3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}
.BorneSeparator
{
  position: relative;
  width: 14.2em;
  height: 0.2em;
  background-color: #2c92a3;
  clip-path: inset(0% 0% 0% 0%);
}
.screenBorne
{
  position: inherit;
  width: 3.2em;
  height: 4em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5%;
  background-color: #70c049;
  border-radius: 5px;
}
.tpeBorne
{
  position: relative;
  width: 1.5em;
  height: 2.2em;
  margin-left:auto;
  margin-right:auto;
  background-color: #000;
  border-radius: 5px;
  border: 2.2px solid #2c92a3;
}

.noticeBorne
{
  position: relative;
  width: 6.2em;
  height: 3.5em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5%;
  background-color: #2d55a4;
  border-radius: 5px;
}
.BorneTop{
  padding-top:10%;
  position:relative;
  background:linear-gradient(0.24turn,yellow 20%,white 20%);
  height:60%;
}


.BorneBottom{
height:inherit;
position:relative;
background-color:blue;
}

.secondPart{
  height:inherit;
}
/* Circles */
.circleContainer
{
  position: absolute;
  width: 6em;
  height: 6em;
  border-radius: 50px;
  box-shadow: 0 0 2px white;
  border: 1px solid white;
}


/* Links */
.horizontalObjectLink
{
  position: absolute;
  width: 6em;
  height: 0.1em;
  background-color: #fff;
  box-shadow: 0 0 1px white;
  z-index: -1;
}
.verticalObjectLink
{
  position: absolute;
  width: 0.1em;
  height: 1em;
  background-color: #fff;
  box-shadow: 0 0 1px white;
}

.powerIcons
{
  position: absolute;
  filter: invert(100%);
}
.bolt
{
  transform: rotate(27deg);
}
.type2
{
  position: absolute;
  filter: invert(100%);
  width: 4em;
  height: 4em;
}
.domestic
{
  position: absolute;
  width: 6em;
  height: 6em;
}
.waterDrop
{
  top: 1em;
  left: 1em;
  width: 4em;
  height: 4em;
}

/* KeyBoard Buttons */
.keyBoardButtons
{
  width: 2em;
  height: 2em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  font-size: 1.8em;
  margin: 0.1em;
  /* cursor: none; */
}
.keyBoardButtons:active
{
  background-color: #ff6800;
}
.unselectedLanguage
{
  display: none;
}
.hidden
{
  display: none;
}

.previousArrow
{
  position: absolute;
  top: 23em;
  left: 1em;
  width: 5em;
}
.deliveryButton
{
  padding: 0.5em;
  /* margin-left: 2.75em; */
  border-radius: 0.5em;
  width: 7em;
  border: 3px solid white;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* cursor: none; */
}
.radialProgress
{
  position: absolute;
  top: 13em;
  left: 6em;
  border-radius: 50px;
  box-shadow: 0 0 2px white;
  border: 1px solid white;
  background-color: orange;
  width: 6em;
  height: 6em;
}
.cone
{
   width: 0;
   height: 0;
   border-left: 70px solid transparent;
   border-right: 70px solid transparent;
   border-top: 100px solid red;
   border-radius: 50%;
   position: absolute;
   top: 2em;
   left: 2em;

}
.instructionButton
{
  padding: 0.5em;
  margin-left: 2.75em;
  margin-top: 1em;
  border-radius: 0.5em;
  width: 7em;
  border: 3px solid white;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: Transparent;
  background-repeat:no-repeat;
  /* cursor: none; */
}
.instructionButton:active
{
  background-color: #ff6800;
}
.soButtons
{
  background-color: #2d55a4;
  /* margin-left: 2.5em; */
  /* cursor: none; */
}
#previousShipOwner
{
  top: 4em;
  left: -6em;
}
#infoStringModifying
{
  position: absolute;
  top: 36.5em;
  left: 7.5em;
  font-size: 1.1em;
}
#firstTap
{
  position: absolute;
  top: 0.6em;
  left: 1em;
}
#secondTap
{
  position: absolute;
  transform: scaleX(-1);
  top: 0.6em;
  left: 1em;
}
.selected
{
  background-color: #ff6800;
}
.inActive
{
   pointer-events: none;
}
.check
{
  margin-left: 1em;
  margin-top: 1em;
}
.ui-dialog-buttonset
{
  float: none;
  margin-right: 0;
}
#immat {
margin: 50px auto;
width: 500px;
height:300px;
position:absolute;
bottom:1px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
    #keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 2px solid #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }

#keyboard .delete {
  width: 70px;
}
